<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
        <ion-col size="12" size-lg="6" size-md="6" class="ion-align-self-center">
          <ion-list>
            <ion-item>
              <fieldset class="fieldcontent">
                <legend class="fieldcontentTitle">Activar/ Desactivar Ronda</legend>
                <ion-button *ngIf="estadoActual == 'Activo'" expand="block" shape="round" type="button" (click)="presentAlertConfirm()">
                  Inactivar
                </ion-button>
                <ion-button *ngIf="estadoActual != 'Activo'" expand="block" shape="round" type="button" (click)="presentAlertConfirm()">
                  Activar
                </ion-button>
              </fieldset> 
            </ion-item>
            <ion-item>
              <fieldset class="fieldcontent">
                <legend class="fieldcontentTitle">Participación</legend>
                <span class="mx-2">Han participado: {{participantes}} de: {{totalUsuarios-1}} usuarios registrados.</span>
                <br>
                <span class="mx-2">Lista de usuarios sin participar</span>
                <ion-button expand="block" shape="round" type="button" color="success" (click) = "exportToExcel()">
                  Excel
                  <ion-icon slot="end" name="download-outline"></ion-icon>
                </ion-button>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      Codigo
                    </ion-col>
                    <ion-col>
                      Celular
                    </ion-col>
                    <ion-col>
                      Nombre
                    </ion-col>
                    <ion-col>
                      Granja
                    </ion-col>
                  </ion-row>
                  <ion-row ion-padding *ngFor="let user of listaUser">
                    <ion-col>{{user.CodigoMostrar}} </ion-col>
                    <ion-col>{{user.Celular}} </ion-col>
                    <ion-col>{{user.Nombre}} </ion-col>
                    <ion-col>{{user.Granja}} </ion-col>
                  </ion-row>
                </ion-grid>
                  
                <!-- tabla usuarios que no han participado -->
                <table class="table ion-padding" id="excel-table" style="font-size: 12px;border:2;display: none;" >
                  <thead>
                    <tr>                                    
                      <th style="width: 60px;">Codigo</th>                                    
                      <th style="width: 80px;">Celular</th>
                      <th style="width: 150px;">Nombre</th>
                      <th style="width: 180px;">Granja</th>                                
                    </tr>
                  </thead>
                  <tbody>
                    <tr ion-padding *ngFor="let user of listaUser">
                      <td>{{user.CodigoMostrar}}</td>
                      <td>{{user.Celular}}</td>
                      <td>{{user.Nombre}}</td>
                      <td>{{user.Granja}}</td>
                    </tr>                                
                  </tbody>
                </table>                
              </fieldset>
            </ion-item>
            <ion-item>              
              <fieldset class="fieldcontent">
                <legend class="fieldcontentTitle">Graficos</legend>
                <ion-card>
                  <ion-card-header>
                    Semana Actual
                  </ion-card-header>
                  <ion-card-content>
                    <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
                  </ion-card-content>
                </ion-card>
                <ion-card>
                  <ion-card-header>
                    Semana Anterior
                  </ion-card-header>
                  <ion-card-content>
                    <canvas #barCanvas1 style="position: relative; height:20vh; width:40vw"></canvas>
                  </ion-card-content>
                </ion-card>             
              </fieldset> 
            </ion-item> 
            <ion-item>
              <fieldset class="fieldcontent">
                <legend class="fieldcontentTitle">Filtrar resultados semanales </legend>
                <ion-item>
                  <ion-label position="stacked">Seleccione un año</ion-label>
                  <ion-select class="custom-options" 
                              name= "yearSel"
                              [(ngModel)]= "yearSel">
                      <ion-select-option *ngFor="let year of listaYear " value="{{year}}">{{year}}</ion-select-option>
                  </ion-select>
              </ion-item>                
                <ion-item>
                  <ion-label position="stacked">Seleccione una semana</ion-label>
                  <ion-select class="custom-options" 
                              name="weekSel"
                              [(ngModel)]= "weekSel">
                      <ion-select-option *ngFor="let semana of semanaLista " value="{{semana}}">{{semana}}</ion-select-option>
                  </ion-select>
              </ion-item>                
                <div>
                  <ion-button expand="block" shape="round" type="button" color="primary" (click)= "cargaExcel()">
                    Consultar
                  </ion-button>
                  <ion-button expand="block" shape="round" type="button" color="success" (click)="exportToExcel1()"
                  [class.disabled] = "!flag" >
                    Excel
                    <ion-icon slot="end" name="download-outline"></ion-icon>
                  </ion-button>                    
                </div> 
                
                <table class="table mt-2" id="excel-table1" style="font-size: 12px;border:2;display: none;" >
                    <thead>
                        <tr>                                    
                            <th style="width: 25px;"># Registro</th>                                    
                            <th style="width: 70px;">Corte Semanal</th>
                            <th style="width: 30px;">Usuario</th>
                            <th style="width: 70px;">Producto</th>
                            <th style="width: 30px;">Cantidad</th>                                    
                            <th style="width: 30px;">Precio X Kg</th>
                            <th style="width: 40px;">Peso promedio</th>
                            <th style="width: 50px;">Mercado</th> 
                            <th style="width: 70px;">Lugar de entrega</th>                               
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of rondaLista1; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{registro.UltimoDia}}</td>
                            <td>{{registro.Usuario}}</td>
                            <td>{{registro.Producto}}</td>
                            <td>{{registro.Cantidad}}</td>
                            <td>{{registro.Precio}}</td>
                            <td>{{registro.Peso}}</td>
                            <td>{{registro.Mercado}}</td>
                            <td>{{registro.Entrega}}</td>
                        </tr>                                
                    </tbody>
                </table>     
            </fieldset> 
            </ion-item>
            <ion-item>
              <!-- <fieldset class="fieldcontent">
                <legend class="fieldcontentTitle">Buscar Usuario</legend>
                <br>
                <div class="mx-3">
                    <input class="w-50 py-2" type="text" placeholder="Ingrese aqui el código" [(ngModel)] = "codigoCaptura">
                    <button class="btn btn-primary w-25 mx-4" (click)="consultarUsusario()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>                        
                <div class="mt-3 mx-3">
                    <div>
                        <span style="width: 100%;">Nombre</span>
                        <input type="tetx" class="form-control" disabled [(ngModel)]= 'nombre'>
                    </div>
                    <div>
                        <span style="width: 100%;">Celular</span>
                        <input type="tetx" class="form-control" disabled [(ngModel)]= 'celular'>
                    </div>
                    <div>
                        <span style="width: 100%;">Email</span>
                        <input type="tetx" class="form-control" disabled [(ngModel)]= 'email'>
                    </div>
                    <div>
                        <span style="width: 100%;">Granja</span>
                        <input type="tetx" class="form-control" disabled [(ngModel)]= 'granja'>
                    </div>
                    <div>
                        <span style="width: 100%;">Localización</span>
                        <input type="tetx" class="form-control" disabled [(ngModel)]= 'localizacion'>
                    </div> -->
                    <!-- <div>
                        <span style="width: 100%;">Estado</span>
                        <input type="tetx" class="form-control" disabled [(ngModel)]= 'estado'>
                    </div>  -->                             
                <!-- </div> -->
                <!-- <div class="mx-3 mt-3">
                    <button class="btn btn-primary btn-block" (click)="bloquearUsuario()">
                        Bloquear
                    </button>
                </div>
                <div class="mx-3 mt-3">
                    <button class="btn btn-danger btn-block" (click)="desbloquearUsuario()">
                        Desbloquear
                    </button>
                </div> -->
                
            <!-- </fieldset> -->
            </ion-item> 
            <ion-button expand="block" shape="round" type="button" color="medium" [routerLink]="['/inicio']">
              Cancelar                                
          </ion-button>                         
          </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
