<app-header titulo = "alerta"></app-header>

<ion-content>
    <ion-item>
        <ion-label>Seleccione un Producto</ion-label>
        <ion-select interface="popover" class="custom-options">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>

</ion-content>
